# 🔑 Discord Bot Token
TOKEN               = REPLACE_WITH_YOUR_BOT_TOKEN_HERE

# 🎵 Lavalink Config
HOST                = REPLACE_WITH_YOUR_LAVALINK_HOST_HERE       # 🌍 host (localhost / IP)
PASSWORD            = REPLACE_WITH_YOUR_LAVALINK_PASSWORD_HERE   # 🔒 Lavalink password
PORT                = REPLACE_WITH_YOUR_LAVALINK_PORT_HERE       # 🔌 Lavalink Port

# 😎 Backend
# Repository: https://github.com/OuOSama/YAE-BACKEND
BACKEND_URL         = "http://localhost:3001"                   # 🛡️ URL of our Elysia backend (HTTP)
BACKEND_WS_URL      = "ws://localhost:3001"                     # 🎯 URL of our Elysia backend (WebSocket)
