# 🔑 Discord Bot Token
TOKEN               = REPLACE_WITH_YOUR_BOT_TOKEN_HERE

# 🎵 Lavalink Config
LAVALINK_NAME                = Node                     # 🔥Node,Server, etc...
LAVALINK_HOST                = localhost:2333           # 🌍 host (localhost / IP) ex: localhost:2333
LAVALINK_PASSWORD            = your_lavalink_password   # 🔒 Lavalink password
LAVALINK_SECURE              = true                     # ❎ true/false

# 😎 Backend
# Repository: https://github.com/OuOSama/YAE-BACKEND
BACKEND_URL         = "http://localhost:3001"           # 🛡️ URL of our Elysia backend (HTTP)
BACKEND_WS_URL      = "ws://localhost:3001"             # 🎯 URL of our Elysia backend (WebSocket)
